<div class="row" id="header">
  <h1 class="text-center">CoffeeAddict</h1>
  <div class="break">
    <div class="line"></div>
    <i class="fa fa-coffee" id="coffee-icon"></i>
    <div class="line"></div>
  </div>
  <p class="text-center" id="description">Tell us where you are and we'll find the 10 closest coffee shops for you!</p>
</div>